In [6]:
import pandas as pd

In [8]:
CCTV_Seoul = pd.read_csv('../data/01. CCTV_in_Seoul.csv')
CCTV_Seoul.head()
# 책에서는 encoding='utf-8'이었지만 뭐가 바뀌었는지 'euc-kr'로 해야한다..

FileNotFoundError: [Errno 2] No such file or directory: '../data/01. CCTV_in_Seoul.csv'

In [ ]:
CCTV_Seoul.columns
# 첫줄도 좀 바뀌었네...

In [12]:
pop_Seoul = pd.read_excel('../data/01. population_in_Seoul.xls', encoding='euc-kr')
pop_Seoul.head()

TypeError: read_excel() got an unexpected keyword argument 'encoding'

In [15]:
pop_Seoul = pd.read_excel('../data/01. population_in_Seoul.xls')
pop_Seoul.head()
# 이건 encoding 자체를 안쓰는 함수네. 따로 xlrd모듈도 깔아줌

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021,합계,4426007,9736027,4721977,5014050,9509458,4618040,4891418,226569,103937,122632,2.15,1605416
3,2021,종로구,73494,153789,74186,79603,144683,70183,74500,9106,4003,5103,1.97,27818
4,2021,중구,63519,131787,64083,67704,122499,59630,62869,9288,4453,4835,1.93,24392

In [16]:
pop_Seoul = pd.read_excel('../data/01. population_in_Seoul.xls', 
                          header = 2,
                          usecols = 'B, D, G, J, N')
pop_Seoul.head()

   자치구        계      계.1     계.2  65세이상고령자
0   합계  9736027  9509458  226569   1605416
1  종로구   153789   144683    9106     27818
2   중구   131787   122499    9288     24392
3  용산구   237285   222953   14332     39070
4  성동구   292672   285990    6682     46380

In [17]:
pop_Seoul.rename(columns={pop_Seoul.columns[0] : '구별', 
                          pop_Seoul.columns[1] : '인구수', 
                          pop_Seoul.columns[2] : '한국인', 
                          pop_Seoul.columns[3] : '외국인', 
                          pop_Seoul.columns[4] : '고령자'}, inplace=True)
pop_Seoul.head()

    구별      인구수      한국인     외국인      고령자
0   합계  9736027  9509458  226569  1605416
1  종로구   153789   144683    9106    27818
2   중구   131787   122499    9288    24392
3  용산구   237285   222953   14332    39070
4  성동구   292672   285990    6682    46380

In [18]:
import pandas as pd
import numpy as np

In [19]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [20]:
dates = pd.date_range('20220217', periods=6)
dates

DatetimeIndex(['2022-02-17', '2022-02-18', '2022-02-19', '2022-02-20',
               '2022-02-21', '2022-02-22'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2022-02-17  0.366344  1.338046 -0.830245  0.275845
2022-02-18  1.837906 -0.204580  0.196415  0.363161
2022-02-19 -0.796440 -0.127518  0.296045  0.366960
2022-02-20 -0.193786 -0.715238 -1.447632  0.105631
2022-02-21  0.599401  0.399818 -0.458477  0.899472
2022-02-22  1.416785  0.010559 -0.353962  0.121629

In [22]:
df.head(3)

                   A         B         C         D
2022-02-17  0.366344  1.338046 -0.830245  0.275845
2022-02-18  1.837906 -0.204580  0.196415  0.363161
2022-02-19 -0.796440 -0.127518  0.296045  0.366960

In [23]:
df.index

DatetimeIndex(['2022-02-17', '2022-02-18', '2022-02-19', '2022-02-20',
               '2022-02-21', '2022-02-22'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [25]:
df.values

array([[ 0.36634428,  1.33804588, -0.83024463,  0.27584465],
       [ 1.83790609, -0.20457975,  0.1964153 ,  0.36316116],
       [-0.7964395 , -0.12751785,  0.29604513,  0.36696011],
       [-0.19378614, -0.71523769, -1.44763171,  0.1056307 ],
       [ 0.59940106,  0.39981754, -0.45847656,  0.89947152],
       [ 1.416785  ,  0.01055917, -0.35396177,  0.12162921]])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2022-02-17 to 2022-02-22
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [27]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.538368  0.116848 -0.432976  0.355450
std    0.980968  0.698297  0.651436  0.289679
min   -0.796440 -0.715238 -1.447632  0.105631
25%   -0.053754 -0.185314 -0.737303  0.160183
50%    0.482873 -0.058479 -0.406219  0.319503
75%    1.212439  0.302503  0.058821  0.366010
max    1.837906  1.338046  0.296045  0.899472

In [28]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2022-02-17  0.366344  1.338046 -0.830245  0.275845
2022-02-21  0.599401  0.399818 -0.458477  0.899472
2022-02-22  1.416785  0.010559 -0.353962  0.121629
2022-02-19 -0.796440 -0.127518  0.296045  0.366960
2022-02-18  1.837906 -0.204580  0.196415  0.363161
2022-02-20 -0.193786 -0.715238 -1.447632  0.105631

In [29]:
df

                   A         B         C         D
2022-02-17  0.366344  1.338046 -0.830245  0.275845
2022-02-18  1.837906 -0.204580  0.196415  0.363161
2022-02-19 -0.796440 -0.127518  0.296045  0.366960
2022-02-20 -0.193786 -0.715238 -1.447632  0.105631
2022-02-21  0.599401  0.399818 -0.458477  0.899472
2022-02-22  1.416785  0.010559 -0.353962  0.121629

In [30]:
df['A']

2022-02-17    0.366344
2022-02-18    1.837906
2022-02-19   -0.796440
2022-02-20   -0.193786
2022-02-21    0.599401
2022-02-22    1.416785
Freq: D, Name: A, dtype: float64

In [31]:
df[0:3]

                   A         B         C         D
2022-02-17  0.366344  1.338046 -0.830245  0.275845
2022-02-18  1.837906 -0.204580  0.196415  0.363161
2022-02-19 -0.796440 -0.127518  0.296045  0.366960

In [32]:
df[1:4]

                   A         B         C         D
2022-02-18  1.837906 -0.204580  0.196415  0.363161
2022-02-19 -0.796440 -0.127518  0.296045  0.366960
2022-02-20 -0.193786 -0.715238 -1.447632  0.105631

In [33]:
df.loc[dates[0]]

A    0.366344
B    1.338046
C   -0.830245
D    0.275845
Name: 2022-02-17 00:00:00, dtype: float64

In [34]:
df.loc[:,['A','B']]

                   A         B
2022-02-17  0.366344  1.338046
2022-02-18  1.837906 -0.204580
2022-02-19 -0.796440 -0.127518
2022-02-20 -0.193786 -0.715238
2022-02-21  0.599401  0.399818
2022-02-22  1.416785  0.010559

In [36]:
df.loc[dates[1:3],['B','C']]

                   B         C
2022-02-18 -0.204580  0.196415
2022-02-19 -0.127518  0.296045

In [37]:
df.loc[dates[2],['D']]

D    0.36696
Name: 2022-02-19 00:00:00, dtype: float64

In [38]:
df.iloc[:]

                   A         B         C         D
2022-02-17  0.366344  1.338046 -0.830245  0.275845
2022-02-18  1.837906 -0.204580  0.196415  0.363161
2022-02-19 -0.796440 -0.127518  0.296045  0.366960
2022-02-20 -0.193786 -0.715238 -1.447632  0.105631
2022-02-21  0.599401  0.399818 -0.458477  0.899472
2022-02-22  1.416785  0.010559 -0.353962  0.121629

In [39]:
df.iloc[3]

A   -0.193786
B   -0.715238
C   -1.447632
D    0.105631
Name: 2022-02-20 00:00:00, dtype: float64

In [40]:
df.iloc[3:5,1:3]

                   B         C
2022-02-20 -0.715238 -1.447632
2022-02-21  0.399818 -0.458477

In [41]:
df.iloc[1:3,:]

                   A         B         C         D
2022-02-18  1.837906 -0.204580  0.196415  0.363161
2022-02-19 -0.796440 -0.127518  0.296045  0.366960

In [42]:
df.iloc[:,0:2]

                   A         B
2022-02-17  0.366344  1.338046
2022-02-18  1.837906 -0.204580
2022-02-19 -0.796440 -0.127518
2022-02-20 -0.193786 -0.715238
2022-02-21  0.599401  0.399818
2022-02-22  1.416785  0.010559

In [43]:
df[df.A > 0]

                   A         B         C         D
2022-02-17  0.366344  1.338046 -0.830245  0.275845
2022-02-18  1.837906 -0.204580  0.196415  0.363161
2022-02-21  0.599401  0.399818 -0.458477  0.899472
2022-02-22  1.416785  0.010559 -0.353962  0.121629

In [44]:
df[df > 0]

                   A         B         C         D
2022-02-17  0.366344  1.338046       NaN  0.275845
2022-02-18  1.837906       NaN  0.196415  0.363161
2022-02-19       NaN       NaN  0.296045  0.366960
2022-02-20       NaN       NaN       NaN  0.105631
2022-02-21  0.599401  0.399818       NaN  0.899472
2022-02-22  1.416785  0.010559       NaN  0.121629

In [45]:
df2 = df.copy()

In [46]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2022-02-17  0.366344  1.338046 -0.830245  0.275845    one
2022-02-18  1.837906 -0.204580  0.196415  0.363161    one
2022-02-19 -0.796440 -0.127518  0.296045  0.366960    two
2022-02-20 -0.193786 -0.715238 -1.447632  0.105631  three
2022-02-21  0.599401  0.399818 -0.458477  0.899472   four
2022-02-22  1.416785  0.010559 -0.353962  0.121629  three

In [47]:
df2['E'].isin(['two', 'four'])

2022-02-17    False
2022-02-18    False
2022-02-19     True
2022-02-20    False
2022-02-21     True
2022-02-22    False
Freq: D, Name: E, dtype: bool

In [49]:
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2022-02-19 -0.796440 -0.127518  0.296045  0.366960   two
2022-02-21  0.599401  0.399818 -0.458477  0.899472  four

In [50]:
df.apply(np.cumsum)

                   A         B         C         D
2022-02-17  0.366344  1.338046 -0.830245  0.275845
2022-02-18  2.204250  1.133466 -0.633829  0.639006
2022-02-19  1.407811  1.005948 -0.337784  1.005966
2022-02-20  1.214025  0.290711 -1.785416  1.111597
2022-02-21  1.813426  0.690528 -2.243892  2.011068
2022-02-22  3.230211  0.701087 -2.597854  2.132697

In [51]:
df.apply(lambda x: x.max() - x.min())

A    2.634346
B    2.053284
C    1.743677
D    0.793841
dtype: float64

In [1]:
CCTV_Seoul.head()

NameError: name 'CCTV_Seoul' is not defined